@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

body{
	font-size: 18px;
	width: 100%;
	text-align: center;	
	font-family: 'Lato', sans-serif;
}

header{
	width: 100%;
	background-color: #990000;
	height: 50px;
	box-shadow: 0px 2px 2px #000;
}

header img{
	height: 100%;
}

h1, h2, section, p{
	max-width: 600px;
	margin: .5em auto;
}

p{
	padding: 0 1em;
}

section.instructionBtns button{
	height: 2em;
	border-radius: 5px;
	background-color: #ffffff;
}

section.instructions{
	padding: 0;
}

h1, h2{
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

.instructions a{
	display: block;
	font-weight: 600;
}

.instructions a:hover{
	text-decoration: underline;
}

section#score{
	width: 100%;
	height: auto;
	background: none;
}

.level-4 button{
	background-color: #990000;
}

.level-3 button{
	background-color: #993333;
}

.level-2 button{
	background-color: #ff9966;
}

.level-1 button{
	background-color: #ffcccc;
}

section#controls span:nth-of-type(odd){
	float: left;
}

section#controls span:nth-of-type(even){
	float: right;
}

section#controls input[type=range]{
	margin: 3em auto;
	width: 95%;
}

/* Instructions Reveal */

.instructions {
  display: block;
  overflow: hidden;
  line-height: 0;
  width: 100%;
  text-decoration: none;
  transition:1s;
/* Safari */
-webkit-transition:1s;
}
#keyboard:target, #leap:target{
  line-height: 1em;
  height: auto;
}

/* Loop Icon */

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
section#score .selected-step button {
	font-family: 'icomoon';
	font-size: 1.5em;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	transition: .5s;
}
section#score .selected-step button:before {
	content: "\e000";
}
#video{
  width:600px;
  height:400px;
  margin:0 auto;
}