body{
	width: 100%;
	text-align: center;
	max-width: 600px;
	margin: 0 auto;
}

h1, h2, section{
	margin: .5em;
}

section#score{
	width: 100%;
}

/* Instructions Reveal */

.instructions {
  display: block;
  overflow: hidden;
  line-height: 0;
  width: 100%;
  text-decoration: none;
  transition:1s;
/* Safari */
-webkit-transition:1s;
}
#keyboard:target, #leap:target{
  line-height: 1em;
  height: auto;
}