@import "_mixins";

/* Globals
---------------------------------------------------------------------------- */

* {
    @include box-sizing(border-box);
}
html, body {
    height: 100%;
}
body {
    background: $clr_bg_body;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
};

.ir { /* Image Replacement */
    text-indent: -999em;
    white-space: nowrap;
    overflow: hidden;
}

.icon {
    display: inline-block;
}

.hide {
  display: none;
}

