@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/decoy\/SDCARD\/Dev\/personal\/stepup\/static\/scss\/modules\/score\.scss}line{font-family:\000031}}
#score { background: #dedede; width: 500px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/decoy\/SDCARD\/Dev\/personal\/stepup\/static\/scss\/modules\/score\.scss}line{font-family:\000034}}
#score button { border: 1px solid #fff; width: 100%; height: 40px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/decoy\/SDCARD\/Dev\/personal\/stepup\/static\/scss\/modules\/score\.scss}line{font-family:\0000313}}
.steps > ul { width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/decoy\/SDCARD\/Dev\/personal\/stepup\/static\/scss\/modules\/score\.scss}line{font-family:\0000322}}
.step-long li { width: 50%; float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/decoy\/SDCARD\/Dev\/personal\/stepup\/static\/scss\/modules\/score\.scss}line{font-family:\0000326}}
.step-long button { background: red; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/decoy\/SDCARD\/Dev\/personal\/stepup\/static\/scss\/modules\/score\.scss}line{font-family:\0000333}}
.step-med li { width: 25%; float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/decoy\/SDCARD\/Dev\/personal\/stepup\/static\/scss\/modules\/score\.scss}line{font-family:\0000337}}
.step-med button { background: yellow; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/decoy\/SDCARD\/Dev\/personal\/stepup\/static\/scss\/modules\/score\.scss}line{font-family:\0000344}}
.step-short li { width: 12.5%; float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/decoy\/SDCARD\/Dev\/personal\/stepup\/static\/scss\/modules\/score\.scss}line{font-family:\0000348}}
.step-short button { background: orange; }
