#score {
    background: #dedede;
    width: 500px;
    button {
        border: 1px solid #fff;
        width: 100%;
        height: 40px;
    }
}


.levels {
    > ul {
        width: 100%;
    }
    li {
    }
}

.level-3 {

    li {
        width: 50%;
        float: left;
    }
    button {
        background: red;
    }
}

.level-2 {

    li {
        width: 25%;
        float: left;
    }
    button {
        background: yellow;
    }
}

.level-1 {

    li {
        width: 12.5%;
        float: left;
    }
    button {
        background: orange;
    }
}

