@import "_mixins";

/* Timeline
---------------------------------------------------------------------------- */

#timeline {
    width: 80%;
    height: 40px;
    position: relative;
    margin: 20px auto;
    background: #cdcdcd;
}


.playhead {

}

.marker {
    position: absolute;
    width: 1px;
    top: 62px;
    //width: 45px;
    //height: 70px;
    &:after, &:before {
        background: #bcbcbc;
        position: absolute;
        display: block;
        content: '';
    }

    &:after {
        left: -15px;
        top: -15px;
        display: block;
        content: '';
        height: 28px;
        width: 28px;
        @include rotate(45deg);
    }

    &:before {
        left: -21px;
        height: 40px;
        width: 40px;
    }


}



.leftMarker {
    left: 0;
}

.rightMarker {
    left: 100%
}


